@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,300;0,400;0,500;0,700;1,400&display=swap');
@import "~normalize.css";

@import "header";
@import "toolbar";
@import "formula";
@import "table";
@import "dashboard";

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: 'Roboto', sans-serif;
  font-size: 12px;
}

.excel {
  position: relative;
  color: #888;
  height: 100%;
  max-width: 100%;
  font-size: .8rem;
}
